@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-gradient {
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.clip-circle {
		clip-path: circle(40% at 50% 100%);
	}
}
